[Unit]
Description=Run hetzman node-sync every 15 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
